<style type="text/css">
    @font-face {
        font-family: krungsri_condensed;
        src: url('fonts/krungsri_condensed.ttf');
    }
    body {
        font-family: krungsri_condensed;
        font-size: medium;
        text-align: justify;
    }

        </style>
</head><body><div id='contentDataDiv'><p><span class="text-big" style="background-color:hsl(210, 75%, 60%);"><strong>ทดสอบ Consent COOP</strong></span><br>Start Date : 05/12/2020<br>End Date : 07/12/2020</p></div></body></html>